<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../static/css/main.css" th:href="@{../static/css/main.css}"/>-->
    <style>
        h2 {
            font-family: sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
            color: blue;
        }
        strong {
            font-weight: 700;
            background-color: yellow;
        }

        p {
            font-family: sans-serif;
        }
    </style>

</head>
<body th:dir="${dir}">
<h2>Carefully Styled Heading</h2>
<p th:text="${recipientName}"></p>
<p th:text="${text}"></p>
<p th:text="#{email.reset.text2}"></p>
<p>
    <em th:text="${senderName}"></em> <br/>
</p>
<p>
    This is text on which we want to apply <strong>very special</strong> styling.
</p>
</body>
</html>
